#map_canvas {                
    height: 0px;
    width: 70%;
    float:left;
    overflow: auto;
}
#directionsPanel {
    height: 0px;
    width: 30%;
    float:right;
    overflow: auto; 
}


 #mapa {
     padding-top: 20px;
     padding-bottom: 20px;
    height: 400px;
    margin: 0px
}

#control {
  background: #fff;
  padding: 5px;
  font-size: 14px;
  font-family: Arial;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
  display: none;
}

.iconosmapas{
    height: 70px;
    width: 75px;
    padding-right: 30px;
    padding-bottom: 10px;
}

@media print {
  #mapa {
    height: 500px;
    margin: 0;
  }

  #directions-panel {
    float: none;
    width: auto;
  }
}

